body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

.mb-20px {
  margin-bottom: 20px ;
}
.mb-8px {
  margin-bottom: 8px;
}
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.ant-form-item-has-success {
  height:fit-content !important;
}
.mx-10px {
  margin-left: 10px;
}
.mt-50px {
  margin-top: 50px;
}
.mt-30px {
  margin-top: 30px !important;
}

.d-inline-block {
  display: inline-block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.red-text {
  color: red;
}
.w-100 {
  width: 100%;
}
.font-sm {font-size: 0.7rem;
}
.container {
  max-width: 700px;
  margin: auto;
}

